
.return {
    box-sizing: border-box;
    position: fixed;
    width: 80px;
    top: 0;
    left: 0;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}
.wrapper {
    box-sizing: border-box;
    position: fixed;
    width: calc(100% - 140px);
    top: 0;
    left: 120px;
    padding: 20px;
    margin: 20px 20px 20px 0;
    display: inline-block;
    border: 2px solid black;
    font-family: sans-serif;
    height: calc(100% - 40px);
    max-width: 1080px;
}
    .wrapper .title {
        font-size: 18pt;
        font-weight: bold;
        border-bottom: 1px solid silver;
    }

    .tooling .preview-available,
    .tooling .enter-to-save {
        border: 3px solid silver;
        border-radius: 9px;
        display: inline-block;
        background-color: white;
    }
    .tooling .preview-available {
        margin: 1rem 1rem 0 0;
    }
    .tooling .enter-to-save {
        margin: 1rem 0 0 0;
    }
        .tooling .preview-available .left,
        .tooling .enter-to-save .left {
            background-color: silver;
        }

    .tooling .addition-button {
        margin: 1rem 0;
        border: 3px solid black;
        border-radius: 9px;
        display: inline-block;
        background-color: #bee767;
        cursor: pointer;
    }
    .tooling .edit-as-type {
        margin: 1rem 0;
        border: 3px solid black;
        border-radius: 9px;
        display: inline-block;
        background-color: #bee767;
    }
    .tooling .delete-all-button {
        margin: 1rem 0;
        border: 3px solid black;
        border-radius: 9px;
        display: inline-block;
        background-color: #e76767;
        cursor: pointer;
    }
        .tooling .addition-button .right,
        .tooling .delete-all-button .right {
            font-weight: bold;
        }

    .tooling .left {
        padding: 0.5rem 1rem;
        border-right: 1px solid silver;
        display: inline-block;
        cursor: pointer;
        margin: 0;
    }
    .tooling .middle {
        font-weight: bold;
        padding: 0.5rem;
        border-right: 1px solid silver;
        display: inline-block;
        margin: 0;
    }
    .tooling .right {
        padding: 0.5rem 1rem 0.5rem 0.75rem;
        display: inline-block;
        cursor: pointer;
        margin: 0;
    }

    .tooling .left.selected,
    .tooling .right.selected {
        font-weight: bold;
        cursor: default;
    }

    .wrapper .content {
        border-top: 1px solid silver;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - 107px);
        position: relative;
    }

    .wrapper .content .element,
    .wrapper .content .element-addition {
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid silver;
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .wrapper .content .element-addition {
        border: 3px solid #006600;
        padding-top: 55px;
        cursor: default !important;
        box-sizing: border-box;
    }
    .wrapper .content .element-addition [datatype=string-view],
    .wrapper .content .element-addition [datatype=color-view] {
        display: none;
    }

    .wrapper .content .element.selected {
        border: 3px solid #5555ff;
        padding-top: 55px;
        cursor: default;
        box-sizing: border-box;
    }
    .wrapper .content .element:not(.selected):hover {
        background-color: #bbbbbb;
    }
    .wrapper .content .element:not(.selected) [datatype=string-edit] {
        display: none;
    }
    .wrapper .content .element.selected [datatype=string-view] {
        display: none;
    }

    .wrapper .content .element .row,
    .wrapper .content .element-addition .row {
        position: relative;
    }

        .wrapper .content .element .label,
        .wrapper .content .element-addition .label {
            display: inline-block;
            font-weight: bold;
            font-size: 14pt;
            width: 200px;
        }
        .wrapper .content .element .element-content {
            display: inline-block;
        }
        .wrapper .content .element [datatype=color-view] {
            height: 1rem;
            width: 3rem;
            border: 2px solid black;
            display: inline-block;
            top: 50%;
            transform: translate(0, -50%);
            position: absolute;            
        }
        .wrapper .content .element:not(.selected) [datatype=color-edit] {
            display: none;
        }
        .wrapper .content .element.selected [datatype=color-view] {
            display: none;
        }
    

    .hidden {
        display: none !important;
    }
    .wrapper .content .editor-node {
        background-color: #8888ff;
        position: absolute;
        height: 45px;
        padding: 10px 10px 10px 2rem;
        width: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .wrapper .content .editor-node .editor-icon {
        height: 25px;
        margin-right: 1rem;
    }
    .wrapper .content .editor-node .editor-icon.disabled {
        cursor: default;
    }
    .wrapper .content .editor-node .editor-icon:not(.disabled) {
        cursor: pointer;
    }

    .element .panel-preview,
    .element-addition .panel-preview {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1rem;
        border-left: 3px solid black;
        bottom: 0;
    }
    .element:not(.selected) .panel-preview {
        top: 0;
        width: 30%;
    }
    .element.selected .panel-preview,
    .element-addition .panel-preview {
        top: 45px;
        width: calc(30% - 1px);
    }
    .element .panel-preview .panel-text,
    .element-addition .panel-preview .panel-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 2rem);
    }
    .element .panel-preview .panel-text .panel-main-text,
    .element .panel-preview .panel-text .panel-additional-text,
    .element-addition .panel-preview .panel-text .panel-main-text,
    .element-addition .panel-preview .panel-text .panel-additional-text {
        text-align: center;
    }

    .content .csv-input {
        font-family: sans-serif;
        font-size: 14pt;
        margin-top: 1rem;
    }
    .content .csv-save-button {
        width: 40px;
        position: relative;
        left: 280px;
        top: 10px;
        cursor: pointer;
    }